<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>Template fragment with JSON parser.</string>
	<key>Identifier</key>
	<string>es.com.jano.JSONParser</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>None</string>
			<key>Description</key>
			<string>JSON parser.</string>
			<key>Identifier</key>
			<string>JSONParser</string>
			<key>Name</key>
			<string>JSON parser</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>None</key>
				<dict>
					<key>Definitions</key>
					<dict/>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>JSONKit</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/libraries/JSONKit/JSONKit.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>JSONKit</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/JSONKit/JSONKit.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/JSONKit/JSONKit.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>JSONKit</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/JSONKit/JSONKit.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/libraries/JSONKit/JSONKit.h</string>
						<string>Classes/libraries/JSONKit/JSONKit.m</string>
					</array>
				</dict>
				<key>TouchJSON</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/libraries/TouchJSON/CDataScanner.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/CDataScanner.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/CDataScanner.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/CDataScanner.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Experimental</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Extensions</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Extensions</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Extensions</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>Extensions</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONScanner.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONScanner.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONScanner.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONScanner.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONSerializer.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONSerializer.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/CJSONSerializer.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/CJSONSerializer.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/TouchJSON/JSON/JSONRepresentation.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>TouchJSON</string>
								<string>JSON</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/TouchJSON/JSON/JSONRepresentation.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/libraries/TouchJSON/CDataScanner.h</string>
						<string>Classes/libraries/TouchJSON/CDataScanner.m</string>
						<string>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.h</string>
						<string>Classes/libraries/TouchJSON/Experimental/CFilteringJSONSerializer.m</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.h</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONDeserializer_BlocksExtensions.m</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.h</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONSerialization.m</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.h</string>
						<string>Classes/libraries/TouchJSON/Experimental/CJSONSerializedData.m</string>
						<string>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.h</string>
						<string>Classes/libraries/TouchJSON/Extensions/CDataScanner_Extensions.m</string>
						<string>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.h</string>
						<string>Classes/libraries/TouchJSON/Extensions/NSDictionary_JSONExtensions.m</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.h</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONDeserializer.m</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONScanner.h</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONScanner.m</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONSerializer.h</string>
						<string>Classes/libraries/TouchJSON/JSON/CJSONSerializer.m</string>
						<string>Classes/libraries/TouchJSON/JSON/JSONRepresentation.h</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
