<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>es.com.jano.base</string>
		<string>es.com.jano.ASIHTTPRequest</string>
		<string>es.com.jano.ghunit</string>
		<string>es.com.jano.MagicalRecord</string>
		<string>es.com.jano.JSONParser</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>appledoc.sh</key>
		<dict>
			<key>Path</key>
			<string>appledoc.sh</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/generic/log/Logger.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>generic</string>
				<string>log</string>
			</array>
			<key>Path</key>
			<string>Classes/generic/log/Logger.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/generic/log/Logger.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>generic</string>
				<string>log</string>
			</array>
			<key>Path</key>
			<string>Classes/generic/log/Logger.m</string>
		</dict>
		<key>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations~ipad&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationPortraitUpsideDown&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
	&lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</key>
		<string>&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
     &lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
&lt;/array&gt;</string>
		<key>Classes/support/main.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>support</string>
			</array>
			<key>Path</key>
			<string>Classes/support/main.m</string>
			<key>TargetIndices</key>
			<array>
				<string>0</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Window-based application with options for some popular frameworks. </string>
	<key>Identifier</key>
	<string>es.com.jano.windowBased</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>appledoc.sh</string>
		<string>Classes/support/main.m</string>
		<string>Classes/generic/log/Logger.h</string>
		<string>Classes/generic/log/Logger.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>iPhone</string>
			<key>Description</key>
			<string>What device family to create a project for.</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Device Family</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.m</string>
						</dict>
						<key>Classes/iPad/AppDelegateiPad.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/AppDelegateiPad.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/iPad/AppDelegateiPad.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/AppDelegateiPad.m</string>
						</dict>
						<key>Classes/iPad/en.lproj/MainWindowiPad.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
								<string>en.lproj</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/en.lproj/MainWindowiPad.xib</string>
						</dict>
						<key>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</key>
						<string>&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;MainWindowiPad&lt;/string&gt;
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/iPad/AppDelegateiPad.h</string>
						<string>Classes/iPad/AppDelegateiPad.m</string>
						<string>Classes/iPad/en.lproj/MainWindowiPad.xib</string>
						<string>Classes/AppDelegate.h</string>
						<string>Classes/AppDelegate.m</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>ARCHS</key>
							<string>$(ARCHS_UNIVERSAL_IPHONE_OS)</string>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.m</string>
						</dict>
						<key>Classes/iPhone/AppDelegateiPhone.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/AppDelegateiPhone.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/iPhone/AppDelegateiPhone.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/AppDelegateiPhone.m</string>
						</dict>
						<key>Classes/iPhone/en.lproj/MainWindowiPhone.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
								<string>en.lproj</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/en.lproj/MainWindowiPhone.xib</string>
						</dict>
						<key>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</key>
						<string>&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;MainWindowiPhone&lt;/string&gt;
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/iPhone/AppDelegateiPhone.h</string>
						<string>Classes/iPhone/AppDelegateiPhone.m</string>
						<string>Classes/iPhone/en.lproj/MainWindowiPhone.xib</string>
						<string>Classes/AppDelegate.h</string>
						<string>Classes/AppDelegate.m</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1</string>
						</dict>
					</dict>
				</dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/AppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/AppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Classes/AppDelegate.m</string>
						</dict>
						<key>Classes/iPad/AppDelegateiPad.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/AppDelegateiPad.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/iPad/AppDelegateiPad.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/AppDelegateiPad.m</string>
						</dict>
						<key>Classes/iPad/en.lproj/MainWindowiPad.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPad</string>
								<string>en.lproj</string>
							</array>
							<key>Path</key>
							<string>Classes/iPad/en.lproj/MainWindowiPad.xib</string>
						</dict>
						<key>Classes/iPhone/AppDelegateiPhone.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/AppDelegateiPhone.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/iPhone/AppDelegateiPhone.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/AppDelegateiPhone.m</string>
						</dict>
						<key>Classes/iPhone/en.lproj/MainWindowiPhone.xib</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>iPhone</string>
								<string>en.lproj</string>
							</array>
							<key>Path</key>
							<string>Classes/iPhone/en.lproj/MainWindowiPhone.xib</string>
						</dict>
						<key>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</key>
						<string>&lt;key&gt;NSMainNibFile&lt;/key&gt;
&lt;string&gt;MainWindowiPhone&lt;/string&gt;
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/AppDelegate.m</string>
						<string>Classes/AppDelegate.h</string>
						<string>Classes/iPad/en.lproj/MainWindowiPad.xib</string>
						<string>Classes/iPad/AppDelegateiPad.m</string>
						<string>Classes/iPad/AppDelegateiPad.h</string>
						<string>Classes/iPhone/AppDelegateiPhone.h</string>
						<string>Classes/iPhone/AppDelegateiPhone.m</string>
						<string>Classes/iPhone/en.lproj/MainWindowiPhone.xib</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
						<string>Classes/support/___PACKAGENAME___-Info.plist:NSMainNibFile</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_OPTIMIZATION_LEVEL</key>
				<string>0</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>DEBUG</string>
				<key>GCC_SYMBOLS_PRIVATE_EXTERN</key>
				<string>NO</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
			</dict>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>GCC_C_LANGUAGE_STANDARD</key>
			<string>gnu99</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvmgcc42</string>
			<key>GCC_WARN_ABOUT_RETURN_TYPE</key>
			<string>YES</string>
			<key>GCC_WARN_UNUSED_VARIABLE</key>
			<string>YES</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>latest_iphoneos</string>
		</dict>
	</dict>
</dict>
</plist>
