<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>Option to create another target with GHUnit 0.4.28.</string>
	<key>Identifier</key>
	<string>es.com.jano.ghunit</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>GHUnit</string>
			<key>Name</key>
			<string>Use GHUnit</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>BuildPhases</key>
							<array>
								<dict>
									<key>Class</key>
									<string>Sources</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Frameworks</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Resources</string>
								</dict>
							</array>
							<key>Configurations</key>
							<dict>
								<key>Debug</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>NO</string>
									<key>GCC_DYNAMIC_NO_PIC</key>
									<string>NO</string>
								</dict>
								<key>Release</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>YES</string>
									<key>VALIDATE_PRODUCT</key>
									<string>YES</string>
								</dict>
							</dict>
							<key>Frameworks</key>
							<array>
								<string>UIKit</string>
								<string>Foundation</string>
								<string>CoreGraphics</string>
							</array>
							<key>Name</key>
							<string>___PACKAGENAME___</string>
							<key>ProductType</key>
							<string>com.apple.product-type.application</string>
							<key>SharedSettings</key>
							<dict>
								<key>ALWAYS_SEARCH_USER_PATHS</key>
								<string>NO</string>
								<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
								<string>YES</string>
								<key>GCC_PREFIX_HEADER</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Prefix.pch</string>
								<key>INFOPLIST_FILE</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Info.plist</string>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
								<key>WRAPPER_EXTENSION</key>
								<string>app</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneViewController.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>GHTest</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTestCase.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTestCase.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTestCase.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTestCase.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHTestMacros.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHTestMacros.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/GHUnit.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/GHUnit.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHNSLocale+Mock.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHNSLocale+Mock.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHNSLocale+Mock.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/SharedUI/GHNSLocale+Mock.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>Mock</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>SharedUI</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes</string>
								<string>SharedUI</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GHKit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GHKit/GHUnitIPhoneViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Classes-IPhone</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneViewController.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GTM</string>
								<string>Foundation</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GTM</string>
								<string>Foundation</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GTM</string>
								<string>Foundation</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GTM</string>
								<string>Foundation</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/libraries/GH-Unit/Libraries/GTM/GTMDefines.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
								<string>Libraries</string>
								<string>GTM</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/Libraries/GTM/GTMDefines.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/LICENSE.txt</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/LICENSE.txt</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/libraries/GH-Unit/README.txt</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>libraries</string>
								<string>GH-Unit</string>
							</array>
							<key>Path</key>
							<string>Test/libraries/GH-Unit/README.txt</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/MyTest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
							</array>
							<key>Path</key>
							<string>Test/MyTest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
						<key>Test/support/GHUnit-Info.plist</key>
						<dict>
							<key>Beginning</key>
							<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
	&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
	&lt;string&gt;en&lt;/string&gt;
	&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
	&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
	&lt;key&gt;CFBundleDocumentTypes&lt;/key&gt;
	&lt;array/&gt;
	&lt;key&gt;CFBundleExecutable&lt;/key&gt;
	&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
	&lt;key&gt;CFBundleIconFile&lt;/key&gt;
	&lt;string&gt;&lt;/string&gt;
	&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
	&lt;string&gt;6.0&lt;/string&gt;
	&lt;key&gt;CFBundleName&lt;/key&gt;
	&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
	&lt;key&gt;CFBundlePackageType&lt;/key&gt;
	&lt;string&gt;APPL&lt;/string&gt;
	&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
	&lt;string&gt;1.0&lt;/string&gt;
	&lt;key&gt;CFBundleSignature&lt;/key&gt;
	&lt;string&gt;????&lt;/string&gt;
	&lt;key&gt;CFBundleURLTypes&lt;/key&gt;
	&lt;array/&gt;
	&lt;key&gt;CFBundleVersion&lt;/key&gt;
	&lt;string&gt;1.0&lt;/string&gt;
	&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
	&lt;true/&gt;
	&lt;key&gt;UISupportedInterfaceOrientations&lt;/key&gt;
	&lt;array&gt;
		&lt;string&gt;UIInterfaceOrientationPortrait&lt;/string&gt;
		&lt;string&gt;UIInterfaceOrientationLandscapeLeft&lt;/string&gt;
		&lt;string&gt;UIInterfaceOrientationLandscapeRight&lt;/string&gt;
	&lt;/array&gt;
	&lt;key&gt;UTExportedTypeDeclarations&lt;/key&gt;
	&lt;array/&gt;
	&lt;key&gt;UTImportedTypeDeclarations&lt;/key&gt;
	&lt;array/&gt;
</string>
							<key>End</key>
							<string>&lt;/dict&gt;
&lt;/plist&gt;
</string>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>support</string>
							</array>
							<key>Indent</key>
							<integer>1</integer>
							<key>SubstituteMacros</key>
							<true/>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/support/GHUnit-Info.plist:CFBundleIdentifier</key>
						<string>&lt;key&gt;CFBundleIdentifier&lt;/key&gt;
&lt;string&gt;___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.GHUnit&lt;/string&gt;
</string>
						<key>Test/support/GHUnit-Prefix.pch</key>
						<dict>
							<key>Beginning</key>
							<string>#import &lt;Availability.h&gt;

#ifndef __IPHONE_3_0
#warning &quot;This project uses features only available in iPhone SDK 3.0 and later.&quot;
#endif

#ifdef __OBJC__
    #import &lt;UIKit/UIKit.h&gt;
    #import &lt;Foundation/Foundation.h&gt;
    #import &quot;Logger.h&quot;
#endif
</string>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>support</string>
							</array>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Test/support/GHUnit-Prefix.pch:importGHUnit</key>
						<string>#import &quot;GHUnit.h&quot;
#import &quot;GHNSObject+Invocation.h&quot;
</string>
						<key>Test/support/GHUnitIOSTestMain.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Test</string>
								<string>support</string>
							</array>
							<key>Path</key>
							<string>Test/support/GHUnitIOSTestMain.m</string>
							<key>TargetIndices</key>
							<array>
								<string>1</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Test/libraries/GH-Unit/LICENSE.txt</string>
						<string>Test/libraries/GH-Unit/README.txt</string>
						<string>Test/MyTest.m</string>
						<string>Test/support/GHUnit-Info.plist</string>
						<string>Test/support/GHUnit-Info.plist:CFBundleIdentifier</string>
						<string>Test/support/GHUnit-Prefix.pch</string>
						<string>Test/support/GHUnit-Prefix.pch:importGHUnit</string>
						<string>Test/support/GHUnitIOSTestMain.m</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneAppDelegate.m</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTableViewDataSource.m</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneTestViewController.m</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneView.m</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/GHUnitIPhoneViewController.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.h</string>
						<string>Test/libraries/GH-Unit/Classes-IPhone/Mock/GHMockCLLocationManager.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHAsyncTestCase.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest+JUnitXML.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTest.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup+JUnitXML.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestGroup.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTesting.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestOperation.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestRunner.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/GHTestSuite.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/NSException+GHTestFailureExceptions.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTest/NSValue+GHValueFormatter.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTestCase.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHTestCase.m</string>
						<string>Test/libraries/GH-Unit/Classes/GHTestMacros.h</string>
						<string>Test/libraries/GH-Unit/Classes/GHUnit.h</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.h</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSHTTPURLResponse.m</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.h</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHMockNSURLConnection.m</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHNSLocale+Mock.h</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHNSLocale+Mock.m</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.h</string>
						<string>Test/libraries/GH-Unit/Classes/Mock/GHUNSObject+Swizzle.m</string>
						<string>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.h</string>
						<string>Test/libraries/GH-Unit/Classes/SharedUI/GHTestViewModel.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.h</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocation+Utils.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.h</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSInvocationProxy.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.h</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHNSObject+Invocation.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GHKit/GHUnitIPhoneViewController.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.h</string>
						<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMObjC2Runtime.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.h</string>
						<string>Test/libraries/GH-Unit/Libraries/GTM/Foundation/GTMStackTrace.m</string>
						<string>Test/libraries/GH-Unit/Libraries/GTM/GTMDefines.h</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>BuildPhases</key>
							<array>
								<dict>
									<key>Class</key>
									<string>Sources</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Frameworks</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Resources</string>
								</dict>
							</array>
							<key>Configurations</key>
							<dict>
								<key>Debug</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>NO</string>
									<key>GCC_DYNAMIC_NO_PIC</key>
									<string>NO</string>
								</dict>
								<key>Release</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>YES</string>
									<key>VALIDATE_PRODUCT</key>
									<string>YES</string>
								</dict>
							</dict>
							<key>Frameworks</key>
							<array>
								<string>UIKit</string>
								<string>Foundation</string>
								<string>CoreGraphics</string>
							</array>
							<key>Name</key>
							<string>___PACKAGENAME___</string>
							<key>ProductType</key>
							<string>com.apple.product-type.application</string>
							<key>SharedSettings</key>
							<dict>
								<key>ALWAYS_SEARCH_USER_PATHS</key>
								<string>NO</string>
								<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
								<string>YES</string>
								<key>GCC_PREFIX_HEADER</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Prefix.pch</string>
								<key>INFOPLIST_FILE</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Info.plist</string>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
								<key>WRAPPER_EXTENSION</key>
								<string>app</string>
							</dict>
						</dict>
						<dict>
							<key>BuildPhases</key>
							<array>
								<dict>
									<key>Class</key>
									<string>Sources</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Frameworks</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Resources</string>
								</dict>
							</array>
							<key>Configurations</key>
							<dict>
								<key>Debug</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>NO</string>
									<key>GCC_DYNAMIC_NO_PIC</key>
									<string>NO</string>
								</dict>
								<key>Release</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>YES</string>
									<key>VALIDATE_PRODUCT</key>
									<string>YES</string>
								</dict>
							</dict>
							<key>Frameworks</key>
							<array>
								<string>UIKit</string>
								<string>CoreLocation</string>
								<string>Foundation</string>
								<string>CoreGraphics</string>
							</array>
							<key>Name</key>
							<string>GHUnit</string>
							<key>ProductType</key>
							<string>com.apple.product-type.application</string>
							<key>SharedSettings</key>
							<dict>
								<key>ALWAYS_SEARCH_USER_PATHS</key>
								<string>NO</string>
								<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
								<string>YES</string>
								<key>GCC_PREFIX_HEADER</key>
								<string>___PACKAGENAME___/Test/support/GHUnit-Prefix.pch</string>
								<key>INFOPLIST_FILE</key>
								<string>___PACKAGENAME___/Test/support/GHUnit-Info.plist</string>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
								<key>WRAPPER_EXTENSION</key>
								<string>app</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
