<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>Template fragment with MagicalRecord</string>
	<key>Identifier</key>
	<string>es.com.jano.MagicalRecord</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>MagicalRecord</string>
			<key>Name</key>
			<string>Use MagicalRecord</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/libraries/MagicalRecord/ActiveRecordHelpers.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/ActiveRecordHelpers.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/ActiveRecordHelpers.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/ActiveRecordHelpers.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/ARCoreDataAction.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/ARCoreDataAction.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/ARCoreDataAction.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/ARCoreDataAction.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/CoreData+ActiveRecordFetching.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/CoreData+ActiveRecordFetching.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/LICENSE</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/LICENSE</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/MagicalRecord/README.md</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>MagicalRecord</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/MagicalRecord/README.md</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/support/___PACKAGENAME___-Prefix.pch:coredata</key>
						<string>#import &lt;CoreData/CoreData.h&gt;
</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/support/___PACKAGENAME___-Prefix.pch:coredata</string>
						<string>Classes/libraries/MagicalRecord/README.md</string>
						<string>Classes/libraries/MagicalRecord/LICENSE</string>
						<string>Classes/libraries/MagicalRecord/ActiveRecordHelpers.h</string>
						<string>Classes/libraries/MagicalRecord/ActiveRecordHelpers.m</string>
						<string>Classes/libraries/MagicalRecord/ARCoreDataAction.h</string>
						<string>Classes/libraries/MagicalRecord/ARCoreDataAction.m</string>
						<string>Classes/libraries/MagicalRecord/CoreData+ActiveRecordFetching.h</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.h</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObject+ActiveRecord.m</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.h</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObjectContext+ActiveRecord.m</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.h</string>
						<string>Classes/libraries/MagicalRecord/NSManagedObjectModel+ActiveRecord.m</string>
						<string>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.h</string>
						<string>Classes/libraries/MagicalRecord/NSPersistentStore+ActiveRecord.m</string>
						<string>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.h</string>
						<string>Classes/libraries/MagicalRecord/NSPersistentStoreCoordinator+ActiveRecord.m</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>Frameworks</key>
							<array>
								<string>CoreData</string>
							</array>
							<key>Configurations</key>
							<dict>
								<key>Debug</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>NO</string>
									<key>GCC_DYNAMIC_NO_PIC</key>
									<string>NO</string>
								</dict>
								<key>Release</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>YES</string>
									<key>VALIDATE_PRODUCT</key>
									<string>YES</string>
								</dict>
							</dict>
							<key>Name</key>
							<string>___PACKAGENAME___</string>
							<key>ProductType</key>
							<string>com.apple.product-type.application</string>
							<key>SharedSettings</key>
							<dict>
								<key>ALWAYS_SEARCH_USER_PATHS</key>
								<string>NO</string>
								<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
								<string>YES</string>
								<key>GCC_PREFIX_HEADER</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Prefix.pch</string>
								<key>INFOPLIST_FILE</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Info.plist</string>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
								<key>WRAPPER_EXTENSION</key>
								<string>app</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
