<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
	</array>
	<key>Description</key>
	<string>GHTestCase</string>
	<key>Summary</key>
	<string>A GHTestCase subclass</string>
	<key>DefaultCompletionName</key>
	<string>MyGHUnitTestCase</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SortOrder</key>
	<integer>2</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
