<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>Template fragment with ASIHTTPRequest.</string>
	<key>Identifier</key>
	<string>es.com.jano.ASIHTTPRequest</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>ASIHTTPRequest</string>
			<key>Name</key>
			<string>Use ASIHTTPRequest</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASICacheDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASICacheDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestConfig.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestConfig.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIInputStream.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIInputStream.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIInputStream.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIInputStream.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIProgressDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIProgressDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIWarning.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIWarning.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>ASIWebPageRequest</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>ASIWebPageRequest</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>CloudFiles</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>Reachability</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>Reachability</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASINSXMLParserCompat.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASINSXMLParserCompat.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.h</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
						<key>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Classes</string>
								<string>libraries</string>
								<string>ASI-HTTP-Request</string>
								<string>S3</string>
							</array>
							<key>Path</key>
							<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.m</string>
							<key>TargetIndices</key>
							<array>
								<string>0</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Classes/libraries/ASI-HTTP-Request/ASIWarning.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIAuthenticationDialog.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASICacheDelegate.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDataCompressor.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDataDecompressor.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIDownloadCache.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIFormDataRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestConfig.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIHTTPRequestDelegate.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIInputStream.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIInputStream.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASINetworkQueue.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIProgressDelegate.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/ASIWebPageRequest/ASIWebPageRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesCDNRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainer.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObject.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesObjectRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/CloudFiles/ASICloudFilesRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/Reachability/ASIReachability.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASINSXMLParserCompat.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Bucket.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketObject.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3BucketRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ObjectRequest.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3Request.m</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.h</string>
						<string>Classes/libraries/ASI-HTTP-Request/S3/ASIS3ServiceRequest.m</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>Configurations</key>
							<dict>
								<key>Debug</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>NO</string>
									<key>GCC_DYNAMIC_NO_PIC</key>
									<string>NO</string>
								</dict>
								<key>Release</key>
								<dict>
									<key>COPY_PHASE_STRIP</key>
									<string>YES</string>
									<key>VALIDATE_PRODUCT</key>
									<string>YES</string>
								</dict>
							</dict>
							<key>Frameworks</key>
							<array>
								<string>CFNetwork</string>
								<string>MobileCoreServices</string>
								<string>SystemConfiguration</string>
							</array>
							<key>Name</key>
							<string>___PACKAGENAME___</string>
							<key>ProductType</key>
							<string>com.apple.product-type.application</string>
							<key>SharedSettings</key>
							<dict>
								<key>ALWAYS_SEARCH_USER_PATHS</key>
								<string>NO</string>
								<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
								<string>YES</string>
								<key>GCC_PREFIX_HEADER</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Prefix.pch</string>
								<key>HEADER_SEARCH_PATHS</key>
								<string>$(SDKROOT)/usr/include/libxml2</string>
								<key>INFOPLIST_FILE</key>
								<string>___PACKAGENAME___/Classes/support/___PACKAGENAME___-Info.plist</string>
								<key>OTHER_LDFLAGS</key>
								<array>
									<string>-all_load</string>
									<string>-ObjC</string>
									<string>-lxml2</string>
								</array>
								<key>PRODUCT_NAME</key>
								<string>$(TARGET_NAME)</string>
								<key>WRAPPER_EXTENSION</key>
								<string>app</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
